

services:

  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel_app2
    volumes:
      - ./src:/var/www
    working_dir: /var/www
    depends_on:
      - db
  pgadmin:
    image: dpage/pgadmin4
    container_name: laravel_pgadmin
    environment:
      PGADMIN_DEFAULT_EMAIL: hisoka@sama.com
      PGADMIN_DEFAULT_PASSWORD: bilal
    ports:
      - "5050:80"
    depends_on:
      - db

  nginx:
    image: nginx:alpine
    container_name: laravel_nginx
    
    ports:
      - "8000:80"
    volumes:
      - ./src:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  db:
    image: postgres:16
    container_name: laravel_db
    environment:
      POSTGRES_DB: laravel_db
      POSTGRES_USER: laravel
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  pgdata:
